<!DOCTYPE html>

<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linkshortener</title>
    <link rel="stylesheet" href="../static/styles.css">
     <script>
        function copyToClipboard() {
            var inputElement = document.getElementById("shorturl");
            console.log(inputElement.innerHTML);
            var textarea = document.createElement("textarea");
            textarea.value = inputElement.innerHTML;

            // Append the textarea to the DOM
            document.body.appendChild(textarea);

            // Select and copy the text from the textarea
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);

        }
    </script>
</head>

<body>
    <div>
        <h1 id="header">Link Shortener</h1>
    </div>
    <div id="instructions">
        <p>Type in the long url and press 'Generate' to a shorter url</p>
    </div>
    <div>
        <form method="post" action="/submit-url">
            <div id="url_text_containter">
                <input type="text" id="url_text" name="url_text" placeholder="Type in the website">
            </div>
            <div id="url_submit_container">
                <input type="submit" id="url_submit" name="url_submit" value="Generate link">
            </div>
        </form>
    </div>
    <div id="shorturl_copy_container">
        <div id="shorturl_container">
            <div id="shorturl">{{url}}</div>
        </div>
        <span id="copy_container">
               <input type="button" id="copy" value="Copy" onclick="copyToClipboard()">
        </span>
    </div>
    



</body>
